.navbar-logo{
    width: 55px;
    height: 60px;
    top: 15px;
    right: 65px;
}
.nav-menu{
    position: relative;
    left: 650px;
    bottom: 50px;
    width: 800px;
    height: 30px;
}
.nav-item{
    width: 100px;
    height: 20px;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}
.nav-links{
    text-decoration: none;
    color: #42423E;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;  
}
.holding{
    position: relative;
    width: 410px;
    height: 470px;
    left: 650px;
    top: 0px;
}
.C-heading{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 21px;
    align-items: center;
    position: relative;
    left: 65px;
    top: 50px;
    color: #007BFF;
}
.C-Para{
    width: 540px;
    height: 140px;
    position: absolute;
    top: 320px;
    left: 60px;
}
.C-para{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}
.open{
    width: 200px;
    height: 70px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    left: 60px;
    border-style: none;
    border-radius: 40px;
}
.C-section2{
    margin-top: 200px;
}
.hiring{
    color: #007BFF;
    font-size: 22px;
    font-weight: 600;
    margin-left: 80px;
}
.hiring-content{
    width: 860px;
    height: 100px;
    font-size: 42px;
    font-weight: 400;
    margin-left: 80px;
}

.C-card1,.C-card2,.C-card3,.C-card4,.C-card5{
    width: 410px;
    height: 430px;
    border-radius: 20px;
    box-shadow: 0px -16px 40px rgba(252, 252, 252, 0.2), 0px 16px 40px #FCFCFC;

}
.C-card1>img,.C-card2>img,.C-card3>img,.C-card4>img,.C-card5>img{
    margin-top: 70px;
    margin-left: 55px;
}
.C-card1{
    position: relative;
    top: 100px;
    left: 100px;
}
.C-card2{
    position: relative;
    left: 530px;
    bottom: 330px;
}
.C-card3{
    position: relative;
    left: 970px;
    bottom: 760px;
}
.C-card4{
    position: relative;
    bottom: 700px;
    left: 320px;
}
.C-card5{
    position: relative;
    bottom: 1130px;
    left: 770px;
}
h3{
    margin-top: 50px;
    margin-left: 55px;
    color: #007BFF;
}
.card-content{
    width: 295px;
    height: 105px;
    margin-left: 55px;
}
.C-section3{
    position: absolute;
    top: 2200px;
    left: 60px;
}
.roles{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #007BFF;
}
.location>span{
    padding: 30px;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-decoration: underline ;
    position: relative;
    left: 200px;
    top: 20px;
    font-family: 'Rubik', sans-serif;
}
.product{
    margin-top: 100px;
}
.product>hr{
    width: 100%;
    position: relative;
    left: 170px;
}
.product>span{
    position: relative;
    left: 170px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;  
}
.product>span:hover{
    color: blue;
}
.second{
    margin-left: 600px;
}
.second1{
    margin-left: 620px;
}
.second2{
    margin-left: 730px;
}
.second3{
    margin-left: 640px;
}
.product>h3{
    position: relative;
    left: 700px;
}
.view{
    width: 200px;
    height: 70px;
    border-radius: 40px;
    background-color: #059FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    position: relative;
    left: 87%;
    top: 20px;
}
.logo1{
    position: relative;
    top: 145px;
    width: 100px;
    height: 115px;
}
.about{
    width: 1100px;
    height: 190px;
    position: relative;
    left: 320px;
    top: 60px;
    line-height: 40px;
}
.about-content{
    
    font-size: 24px;
    font-weight: 700;

}
.C-section4{
    position: relative;
    top: 150px;
}
.social{
    position: absolute;
    left: 100px;
    top: 50px;  
}
.social-h1{
    position: absolute;
    bottom: 195px;
    font-size: 18px;
}   
.social>p{
    font-size: 18px;
    font-weight: 700;
    color: #A0A09B;
    line-height: 35px;
}
.sitemap{
    position: absolute;
    left: 28%;
}
.sitemap-h{
    font-size: 18px;
    font-weight: 700;
}
.sitemap>p{
    font-size: 18px;
    font-weight: 700;
    color: #A0A09B;
    line-height: 35px;
}
.office{
    position: absolute;
    left: 50%;
}
.office-h{
    font-size: 18px;
    font-weight: 700;
}
.us-c>h2{
    font-size: 18px;
    font-weight: 700;
}
.us-c>p{
    width: 220px;
    height: 80px;
    font-size: 18px;
    font-weight: 400;
    color: #A0A09B;
    line-height: 22px;
}
.india-c{
    position: relative;
    left: 350px;
    bottom: 177px;
}
.india-c>h2{
    font-size: 18px;
    font-weight: 700;
}
.india-c>p{
    width: 250px;
    height: 110px;
    font-size: 18px;
    font-weight: 400;
    color: #A0A09B;
    line-height: 22px;
}
.extra{
    position: absolute;
    top: 400px;
    padding-bottom: 100px;
}
.copyright{
    width: 270px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 50px;
    left: 100px;
}
.terms{
    position: relative;
    left: 800px;
    top: 50px;
    font-size: 12px;
    font-weight: 500;
    color: #A0A09B;
    text-decoration: underline;
}
.privacy{
    position: relative;
    left: 900px;
    top: 50px;
    font-size: 12px;
    font-weight: 500;
    color: #A0A09B;
    text-decoration: underline;
}